{% extends "main.html" %}
{%block content%}
    {% comment %} <h1>Device List</h1>
    <ul>
        {% for device in devices %}
            <li><a href="{% url 'device_detail' device.id %}">{{ device.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'device_create' %}">Add Device</a> {% endcomment %}
    <h1>Device List</h1>
    <h2>Companies</h2>
    <ul>
        {% for company in companies %}
            <li>{{ company.name }}</li>
        {% endfor %}
    </ul>

    <h2>Devices</h2>
    <ul>
        {% for device in devices %}
            <li>
                <a href="{% url 'device_detail' device.id %}">{{ device.name }}</a>
                {% if device.company %}
                    (Assigned to: {{ device.company.name }})
                {% else %}
                    (Unassigned)
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'device_create' %}">Add Device</a>
{%endblock content%}
