<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Detail</title>
</head>
<body>
    <h1>Device Detail</h1>
    <p>Name: {{ device.name }}</p>
    <p>Condition: {{ device.health_condition }}</p>
    <a href="{% url 'device_update' device.id %}">Edit</a>
    {% comment %} <form action="{% url 'device_delete' device.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form> {% endcomment %}
</body>
</html>
