{% extends "main.html" %}
{% block content %}
<style>
    .lower-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .upper-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
</style>

<div class ='upper-container'>
    <div>
        <h2>Companies</h2>
        <ul>
        {% for company in companies %}
            <li><a href="{% url 'company_details' company.id %}">{{ company.name }}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'company_create' %}">Add Company</a>

    </div>

    <div> <a href="{% url 'checkout_device' %}"><h2>Checkout a device</h2></a>
    </div>
    <div>
        <strong>{{request.user.username}}</strong>
        <button > <a href="{%url 'logout'%}"> Logout </a></button>
    
    </div>
</div>

<div class ='lower-container'>
    <div>
        <h2>Available Devices</h2>
        <ul>
            {% for device in devices %}
                {%if not device.checked_out%}
                <li>
                    <a href="{% url 'device_details' device.id %}">{{ device.name }}</a>
                </li>
                {%endif%}
            {% endfor %}
        </ul>

        <a href="{% url 'device_create' %}">Add Device</a>
    </div>
    <div>
        <h2>Checked out Devices</h2>
        <ul>
            {% for checked_out_device in checked_out_devices %}
                <li>
                    <a href="{% url 'device_details' checked_out_device.device.id %}">{{ checked_out_device.device.name }}</a> 
                </li>
            {% endfor %}
        </ul>      
    </div>

    <div>
        <h2>Checkout Log</h2>
        <ul>
            {% for checked_out_device in checked_out_devices %}
                <li>
                    <a href="{% url 'device_details' checked_out_device.device.id %}">{{ checked_out_device.device.name }}</a>
                    {%if checked_out_device.return_date %}
                    from: {{checked_out_device.assigned_date}} to: {{checked_out_device.return_date}} 
                    {%else%}
                    from: {{checked_out_device.assigned_date}} - (Not yet returned)
                    {%endif%}
                </li>

            {% endfor %}
        </ul>
    </div>

</div>
{% endblock content %}
